<% unless cart.line_items.empty? %>
<div class="cart_title">Ваша корзина</div>
	<table>
		<%= render(@cart.line_items) %>

		<tr class="total_line">
			<td colspan="2">Итого</td>
			<td class="total_cell"><%= number_to_currency(@cart.total_price)%></td>
		</tr>
	</table>	

	
	<%= button_to 'Очистить', @cart, method: :delete, confirm: 'Вы уверены что хотите удалить из корзины все выбранные товары?' %>
	<%= button_to "Оформить", new_order_path, method: :get %>

<% end %>